{% extends 'base.html.twig' %}

{% block title %}Convention index{% endblock %}

{% block body %}
    <h1>Conventions</h1>

    <table class="table" id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_Debut</th>
                <th>Project</th>
                <th>Investisseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for convention in conventions %}
            <tr>
                <td>{{ convention.id }}</td>
                <td>{{ convention.DateDebut ? convention.DateDebut|date('Y-m-d') : '' }}</td>
                
                
                <td>{{ convention.CodeP.LibelleP }}</td>
            
                
                <td>{{ convention.Mat.NomSociete }}</td>
            
                <td>
                    <a href="{{ path('convention_show', {'id': convention.id}) }}" class="btn btn-warning" role="button">show</a>
                    <a href="{{ path('convention_edit', {'id': convention.id}) }}" class="btn btn-success" role="button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('convention_new') }}" class="btn btn-primary" role="button">Create new</a>
{% endblock %}
